a{
    color: currentColor;
    text-decoration: none;
}
ul,
ol,
menu{
    list-style:none; 
    padding:0;
}
img{
    max-width: 100%;
    display: block;
}
/* HERO  */
.hero-img{
    width: 300px;
    aspect-ratio: 1;
    margin: 0 auto;
}

/* Debug */
.debug .container-md {
    padding: 20px;
    border: 2px solid salmon;
}
.debug .container {
    padding: 20px;
    border: 2px solid orange;
}
.debug .row {
    padding: 20px;
    border: 2px solid cornflowerblue;
}
.debug .col {
    padding: 20px;
    border: 2px solid violet;
}
.debug .col-12 {
    padding: 20px;
    border: 2px solid rebeccapurple;
}